header {
    background-color: #f7dbbb;
}

h1{
    color: white;
    background-color: #301e14;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #f7dbbb;
}

ul {
    list-style: none;
    text-decoration: none;
}
